<h1>Sign up</h1>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username"/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>
  <div class="form-group">
    <button type="submit">Sign up!</button>
  </div>
</form>

<script>
const username = document.getElementById("username");
username.focus();
</script>