:root {
  --placeholder-font-weight: bold;
  --placeholder-color: rgba(200, 50, 150, 0.9);
  --placeholder-text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-size: cover;
}

body {
  background-image: linear-gradient(
    rgba(50, 100, 200, 0.7),
    rgba(100, 50, 200, 0.9)
  );
  font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-top: 34px;
  font-family: Palatino, cursive;
  letter-spacing: 1px;
}

nav a {
  padding: 8px 13px;
  margin: 0 21px;
  font-style: italic;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 21px;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

nav a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

footer {
  margin: 34px 0 21px 0;
  font-family: Palatino, cursive;
  letter-spacing: 1px;
}

footer a {

  padding: 8px 13px;
  margin: 0 21px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-style: italic;
  border-radius: 21px;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.main {
  margin-top: 55px;
  padding: 21px 34px;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 13px;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin: 8px 0;
  padding: 8px 13px;
  border-radius: 8px;
  
}

.message.no-edit {
  background: rgba(255, 255, 255, 0.1);
}

.message.editable {
  background: rgba(255, 255, 255, 0.1);
  transition: background 0.3s;
}

.message.editable:hover {
  cursor: pointer;
  background: rgba(255, 200, 255, 0.25);
}

.message-content {
  margin-top: 2px 0;
  padding: 5px 8px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  font-size: 13px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.message-username {
  text-align: right;
  cursor: default;
  margin-top: 2px;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 8px;
  background-image: linear-gradient(
    to left,
    rgba(200, 50, 150, 0.4),
    rgba(200, 50, 150, 0)
  );
  user-select: none;
}

.username {
  display: inline;
  font-weight: bold;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.message-date {
  cursor: default;
  margin-top: 2px;
  padding: 3px;
  text-align: right;
  font-size: 8px;
  letter-spacing: 0.5px;
  user-select: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin: 13px 21px;
}

input[type="text"] {

  height: 34px;
  padding: 0 21px;
  border: 3px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 21px;
  font-size: 13px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  color: rgba(255, 255, 255, 0.9);
  transition: background-color 0.2s;
}
input[type="password"] {

  height: 34px;
  padding: 0 21px;
  border: 3px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 21px;
  font-size: 13px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.5px;
  transition: background-color 0.2s;
}

input:hover {
  cursor: default;
  background-color: rgba(100,0,50,0.1);
}

input:focus {
  cursor: default;
  background-color: rgba(100,0,50,0.2);
  outline: none;
}

input::placeholder {
  text-align: center;
  font-weight: var(--placeholder-font-weight);
  color: rgba(225,200,255,0.9);

  /*text-shadow: var(--placeholder-text-shadow);*/
}


textarea {
  display: block;
  padding: 8px 13px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 13px;
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco,
    "Bitstream Vera Sans Mono", monospace;
  background: rgba(255, 255, 255, 0.2);
  resize: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

textarea::placeholder {
  font-weight: var(--placeholder-font-weight);
  color: var(--placeholder-color);
  text-shadow: var(--placeholder-text-shadow);
}

textarea:focus {
  outline: none;
}

button {
  
  font-family: Helvetica, cursive;
  letter-spacing: 1px;
  padding: 8px 13px 8px 15px;
  margin: 0 21px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-size: 13px;
  background-color: rgba(150,255,150, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 21px;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
}

button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(150,255,150, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.admin-tools {
  margin: 0 0 13px 0;
}

.hidden {
  display: none;
}

.btn-admin {
  padding: 8px 13px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 21px;
  font-size: 13px;
  color: rgba(255,255,255,0.8);
  transition: color 0.2s;
  text-decoration: none;
}

.btn-admin.delete {
  background-color: rgba(240,40,140,0.2);
  transition: background-color 0.2s;
}

.btn-admin.delete:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(255,55,155,0.3); 
}

.btn-admin.edit {
  background-color: rgba(40,220,140,0.2);
  transition: background-color 0.2s;
}

.btn-admin.edit:hover {
  color: rgba(255,255,255,1);
  background-color: rgba(55,235,155,0.3); 
}